[user]
	name = 
	email = 
[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[alias]
	
	lsa = log --pretty=format:'%C(yellow)%h %C(white dim)%cd %<|(49,trunc)%an %C(reset)%s' --date=short --abbrev=8
	ls = log --pretty=format:'%C(yellow)%h %C(white dim)%cd %<|(49,trunc)%an %C(reset)%s' --date=short --abbrev=8 --no-merges
	st = status -s
	a = add
	aa = add .
	cm = commit -m
	unstage = reset HEAD --
	hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cD)%Creset%n%w(80,8,8)%s' --graph --date=iso
	histfull = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
	log = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
	changelog = log --pretty=format:'%Cgreen%d %Creset%s' --date=iso
	ull = pull
	co = checkout
	ush = push
	df = diff
	dfc = diff --cached
	issues = !sh -c \"git log $1 --oneline | grep -o \\\"ISSUE-[0-9]\\+\\\" | sort -u\"
	branchauthors = "! for branch in `git branch -r | grep -v HEAD`;do echo `git show --format=\"%ai %ar by %an\" $branch | head -n 1` \t$branch; done | sort -r"
	branches = branch --list
	tags = !sh -c \"git tag --list -n1 | sort -n\"
	delbranch = !sh -c \"git branch -D $1 && git push origin :$1\"

[help]
        autocorrect = 1
[push]
	default = simple
[core]
	autocrlf = true
[merge]
	tool = meld
[mergetool "meld"]
	path = C:\\Program Files (x86)\\Meld\\Meld.exe
[diff]
	tool = meld
[difftool "meld"]
	path = C:\\Program Files (x86)\\Meld\\Meld.exe
